@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.bg
	background-image: url("../images/src/bg.jpg")
	width: 100%
	background-size: cover
	height: 100vh	
	display: flex
	justify-content: center
	align-items: center
	h1
		font-size: 70px
		font-weight: 700
		color: #ffffff
		line-height: 0.933
		font-family: $roboto
		font-style: normal
		font-weight: 700
		text-align: center
		max-width: 100%
	.logo
		position: absolute
		top: 20px
		left: 20px
		p
			font-size: 20px
			color: #FFE082

@import "media"; // Always at the end
