@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: #999
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.bg
	background-image: url("../img/_src/bg.jpg")
	width: 100%
	background-size: cover
	height: 100vh	
	display: flex
	justify-content: center
	align-items: center
	h1
		font-size: 50px
		font-weight: 700
		color: #ffffff
		line-height: 1.2
		text-align: center
		// height: 100px
		// max-width: 100%

	.logo
		position: absolute
		top: 20px
		left: 20px
		p
			font-size: 20px
			color: #FFB74D
	.tel
		position: absolute
		top: 20px
		right: 20px
		a
			color: #fff
			font-size: 20px
		img 
			margin-top: -4px
			margin-right: 5px



@import "media" // Always at the end
